/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o body */
body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-color: #171717; /* Alterado para preto */
    color: #333;
}

/* Estilos para o header */
header {
    background-color: #F69E19; /* Alterado para laranja */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Centraliza o conteúdo e mantém a lista à direita */
}

.logo-container {
    margin-right: 10px; /* Espaçamento à direita do título */
}

/* Estilos para a logo */
.logo {
    width: 120px; /* Ajuste conforme necessário */
    height: auto; /* Para manter a proporção */
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza os itens da lista horizontalmente */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove a margem direita do último item da lista */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #cce5ff;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 110px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #cce5ff;
}

/* Estilos para as seções */
section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #F69E19; /* Alterado para laranja */
}

section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #fff;
}

section .test {
    font-size: 1.1rem;
    margin: 20px;
    color: #fff;
    display: inline-block;
}

section .test img{
    width: 560px;
}

/* Estilos para a lista de serviços */
ul.services {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

ul.services li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Estilos para o formulário de contato */
form {
    margin: 0 auto;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

form label,
form textarea,
form input[type="text"],
form input[type="email"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

form textarea {
    height: 150px;
}

button {
    background-color: #F69E19; /* Alterado para laranja */
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin: 10px;
}

button:hover {
    background-color: #D88E15; /* Alterado para laranja mais escuro */
}

/* Estilos para o footer */
footer {
    background-color: #171717; /* Alterado para preto */
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
    header {
        padding: 15px;
    }

    .logo {
        width: 100px;
    }

    nav ul li {
        margin-right: 10px;
    }

    nav ul li:last-child {
        margin-right: 0;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .section {
        padding: 40px 10px; /* Reduz o espaçamento nas seções */
    }

    section .test img{
        width: 460px;
    }

    form {
        max-width: 400px; /* Ajusta a largura do formulário */
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 80px;
    }

    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.4rem;
        margin-bottom: 10px;
        display: inline-block;
    }

    nav ul li a {
        display: none;
    }

    .section {
        padding: 30px 10px; /* Reduz ainda mais o espaçamento nas seções */
    }

    section .test img{
        width: 360px;
    }

    form {
        max-width: 300px; /* Ajusta a largura do formulário para telas menores */
    }
}